/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
	text-align: center;
}
.owl-carousel .owl-buttons {
/*position: absolute;
right: 0;
top: -65px;
z-index: 7;*/
}
.causes-carousel .owl-buttons {
/*top: 19px;
right: 30px;*/
}
/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
    position: absolute;
    font-size: 60px;
    color: #fff;
    opacity: 0.8;
    top: 40%;
	/*display: block;
	width: 9px;
	height: 15px;
	text-indent: -99999px;
    color: #fff;
	overflow: hidden;
	background-image: url(../images/prev-next.png);
	background-repeat: no-repeat;
	float: left;
    font-size: 20px;*/
}
.owl-theme .owl-controls .owl-buttons .owl-next{
    right: 0px;
}
.owl-theme .owl-controls .owl-buttons .owl-prev{
    left: 0;
}
.owl-theme .owl-controls .owl-buttons div.owl-prev {
	/*background-position: 0 0;
	margin: 0 5px 0 0;*/
}
.owl-theme .owl-controls .owl-buttons div.owl-prev:hover {
	/*background-position: 0 -15px;*/
}
.owl-theme .owl-controls .owl-buttons div.owl-next {
	/*background-position: 100% 0;
	margin: 0 0 0 5px;*/
}
.owl-theme .owl-controls .owl-buttons div.owl-next:hover {
	/*background-position: 100% -15px;*/
}
.causes-carousel .owl-controls .owl-buttons div.owl-prev, .causes-carousel .owl-controls .owl-buttons div.owl-prev:hover {
/*background-position: 0 -30px;*/
}
.causes-carousel .owl-controls .owl-buttons div.owl-next, .causes-carousel .owl-controls .owl-buttons div.owl-next:hover {
/*background-position: 100% -30px;*/
}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	text-decoration: none;
}

/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(../images/AjaxLoader.gif) no-repeat center center
}

.owl-carousel .slide-content{
    position: absolute;
    bottom: 10%;
    left: 10%;
    margin-right: 10%;
    z-index: 2;
}